body {
    margin: 0;
    
}
.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    background-color: white;
    opacity: 1;
}

.header {
    grid-row: 1;
    grid-column: 1 / 4;
    background-color: whitesmoke;
    text-align: center;
}

.library {
    padding: 20px;
    grid-row: 2 / 4;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: 1fr 1fr;
}

.card {
    height: 200px;
    width: 250px;
    background-color: aqua;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 3px;
}

.cardContent {
    padding: 10px;
}

.cardContent > h2 {
    text-decoration: underline;
    text-align: center;
}

#myForm {
    font-size: 1.5rem;
    opacity: 1;
    height: 400px;
    width: 300px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
    position: absolute;
    top: 35%;
    left: 40%;
    visibility: hidden;
    text-align: center;
}

.formInfo {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(6, 1fr);
    padding: 20px;
}